[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ggfortify"]
	path = ggfortify
	url = https://github.com/sinhrks/ggfortify
	shallow = true
	registered = true
